<h1 style="background-color: rgba(24, 19, 175, 0.755);">PUNJABI SINGERS</h1>
<div id="filter">
<input [(ngModel)]="findTitle"><button (click)="findContent()">Search</button>
<br>
<h1>{{message}}</h1>
</div>
<div id="none">
<h1>No Type</h1>
<app-content-card class="none" *ngFor="let item of (contentList | contentFilter :'' )" [content]="item"  [ngClass]="{'highlight': item.title.toLowerCase() === findTitle.toLowerCase() && filterResult}" >
</app-content-card>
</div>

<div id ="punjabi" >
<h1>Punjabi Type</h1>
<app-content-card  *ngFor="let item of (contentList | contentFilter :'Punjabi' )" [content]="item" [ngClass]="{'highlight': item.title.toLowerCase() === findTitle.toLowerCase() && filterResult}" >
</app-content-card>
</div>

<div id ="Romantic">
<h1>Romantic Type</h1>
<app-content-card  *ngFor="let item of (contentList | contentFilter :'Romantic' )" [content]="item" [ngClass]="{'highlight': item.title.toLowerCase() === findTitle.toLowerCase() && filterResult}">
</app-content-card>
</div>